*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     border: none;
    outline: none; 
    font-family: sans-serif;

}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 160, 160);

}
.container{
    width: 400px;
    height: min-content;
background: -moz-linear-gradient(to right, rgb(189, 171, 171),blue);
    border-radius: 20px;
    box-shadow: 13px 13px 13px rgb(1, 47, 59);
    padding: 28px;
}
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input{
    width: 84%;
font-size: 17px;
text-transform: capitalize;
color: black;
padding: 12px 16px;
background-color: rgb(210, 194, 173);
border-radius: 27px;
}
.search-box input:hover{
    background-color: blanchedalmond;
}
.search-box input::placeholder{
    color: black;
  
}
.search-box button{
    width: 115px;
    height: 40px;
background-color: rgb(220, 220, 158);
border-radius: 110px;
/* cursor: pointer; */
/* font-size: 20px; */

}
.search-box button:hover{
    background-color:rgb(8, 0, 229) ;
}
.weather-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}
.weather-box{
    margin-block: 20px;
    text-align: center;

}
.weather-box.temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.weather-box.temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}
.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.humidity .wind{
    display: flex;
    align-items: center;

}
.humidity{
    margin-left: 20px;
}
.wind{
margin-right: 20px;
}
.weather-details i{
font-size: 36px;
}
.weather-details .text{
    margin-left: 10px;
    font-size: 14px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
}